<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Devschool Bibliothèque{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/shop-item.css') }}" />
</head>
<body>
<ul class="menu">

</ul>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>