<h1>Liste des Films :</h1>
<ul>
    {% for film in films %}
        <li>
            <a href="{{ path('admin_film_modif', {'id': film.id}) }}">{{ film.nom }}</a>
            <a href="{{ path('admin_film_supprimer', {'id': film.id}) }}">(x)</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('admin_film_ajout') }}">Ajouter</a>